In [2]:
# Importing libraries in Python
import sklearn.datasets as datasets
import pandas as pd

# Loading the GRIP dataset
url = "http://bit.ly/w-data"
score_data = pd.read_csv(url)
print("Data imported successfully")

Data imported successfully

In [3]:
score_data

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [4]:
X=score_data.Hours
y=score_data.Scores

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size = 0.2, random_state = 100)

In [6]:
# Defining the decision tree algorithm
import numpy as np
from sklearn.tree import DecisionTreeClassifier
dtree=DecisionTreeClassifier()
dtree.fit(np.array(X).reshape(-1,1),np.array(y).reshape(-1,1))

print('Decision Tree Classifer Created')

Decision Tree Classifer Created

In [7]:
y_pred_DT= dtree.predict(np.array(X_test).reshape(-1,1))

In [8]:
final_model_predictions_DT = pd.DataFrame({'Actual':y_test, 'predictions':y_pred_DT})

In [9]:
final_model_predictions_DT

    Actual  predictions
9       25           25
22      35           35
13      42           42
11      62           62
5       20           20

In [10]:
count_misclassified = (y_test != y_pred_DT).sum()
count_misclassified

0

In [11]:
from sklearn.metrics import accuracy_score
accuracy_DT=accuracy_score(y_test,y_pred_DT)
accuracy_DT*100

100.0

In [12]:
hours = 9 #checking for user specified hour
own_pred = dtree.predict(np.array(hours).reshape(-1,1))
print("No of Hours = {}".format(hours))
print("Predicted Score = {}".format(own_pred[0]))

No of Hours = 9
Predicted Score = 95